{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row"><center><h1>Merci</h1></center></div>
    <div class="row">
       <div class="col-lg-offset-3 col-lg-5 ">
          <p> Merci pour votre réservation, un email va vous etre envoyé dans les prochaines minutes.</p>
          <p>A bientôt dans notre musée.</p>
       </div>
    </div>
</div>
{%  endblock %}

